@font-face {
font-family: ProximaNova;
src: url(../../../themes/quark-child/fonts/ProximaNovaRegular.eot);
src: url(../../../themes/quark-child/fonts/ProximaNovaRegular.woff) format('woff'), 
url(../../../themes/quark-child/fonts/ProximaNovaRegular.ttf) format('truetype'), 
url(../../../themes/quark-child/fonts/ProximaNovaRegular.svg) format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: Exo2;
src: url(../../../themes/quark-child/fonts/Exo2-Regular.eot);
src: url(../../../themes/quark-child/fonts/Exo2-Regulard41d.eot?#iefix) format('embedded-opentype'),
url(../../../themes/quark-child/fonts/Exo2-Regular.woff2) format('woff2'),
url(../../../themes/quark-child/fonts/Exo2-Regular.woff) format('woff'),
url(../../../themes/quark-child/fonts/Exo2-Regular.ttf) format('truetype'),
url(../../../themes/quark-child/fonts/Exo2-Regular.svg#Exo2-Regular) format('svg');
font-weight: normal;
font-style: normal;
} body {
font-family: ProximaNova, 'PT Sans', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
font-family: ProximaNova, Exo2, 'Arvo', Georgia, "Times New Roman", Times, serif;
color: #5d5d5d;
}
h1, h2, h3 {
font-weight: normal;
}
h1 {
font-size: 2rem;
}
h2 {
font-size: 1.75rem;
}
h3 {
text-align: left;
font-size: 1.4rem;
}
h4 {
font-size: 1.2rem;
font-weight: normal;
}
b, strong {
font-family: ProximaNova, 'PT Sans', Helvetica, Arial, sans-serif;
}
.copyright-container, 
.head-short-cuts {
background-color: #f0f0f0; 
color: #999;
line-height: 2em;
border-bottom: 1px solid #e6e6e6;
}
.head-short-cuts .banners {
max-width: 95%;
width: 1200px;
}
.head-short-cuts .banners a {
color: #999;
}
.head-short-cuts .banners a:hover {
color: #5d5d5d;
}
.head-short-cuts .banners .quick-contacts a {
margin-left: 10px;
}
.head-short-cuts .banners .quick-contacts .widget_text .textwidget {
text-align: right;
}
.header-search {
clear: both;
float: right;
margin-bottom: 1.75em;
}
.header-search .search-submit {
float: right;
text-shadow: none !important;
height: 30px;
border-radius: 0;
padding: 0 5px;
}
.site-title img {
vertical-align: baseline;
}
footer h3 {
font-size: 20px;
font-size: 1.25rem;
line-height: 1;
text-align: center;	
padding-bottom: 10px;
}
body .border h3 {
margin-top: 0.375em;
}
#masthead {
background-color: #fff;
width: 100% !important;
border-bottom: 1px solid #999;
}
.site-header {
max-width: unset;
}
.mast-container {
width: 1200px;
max-width: 95%;
margin: 0 auto;
}
body .main-navigation {
margin: 1.15rem 0 0.5rem;
}
.nav-menu {
font-family: ProximaNova, Exo2, 'PT Sans', Helvetica, Arial, sans-serif!important;
text-transform: capitalize!important;
font-weight: normal;
font-size: 1em!important;
}
.main-navigation{
margin: 0.4rem 0 0 0;
}
.main-navigation li {
margin: 0 0 0 10px;
margin: 0 0 0 0.75rem;
}
.main-navigation li:hover>a {
color: #fa1414;
}
.main-navigation li:first-child {
margin-left: 0;
} .main-navigation li.menu-parent-item>a:after {
color: #fa1414;
padding-left: 0.25em;
}
.main-navigation .current-menu-item>a, .main-navigation .current-menu-ancestor>a, .main-navigation .current_page_item>a, .main-navigation .current_page_ancestor>a, .main-navigation .current_page_parent>a {
color: #fa1414;	
}
.main-navigation ul#menu-primary-navigation > li:not(:last-child) a {
padding: 0 6px;
}
.main-navigation ul#menu-primary-navigation > li.btn {
margin-left: 10px;
}
.main-navigation ul#menu-primary-navigation li:not(:last-child):hover,
.main-navigation ul#menu-primary-navigation > li:not(:last-child) a:hover {  background-color: rgba(255,255,255,0.95); -webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;	
}
@-webkit-keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}  
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}
.main-navigation ul li:hover > ul {
display: block;
-webkit-animation: fadeIn .5s;
animation: fadeIn .5s;
}
.main-navigation ul ul a {
width: 12.5em;
padding: 0 1rem;
}
.main-navigation ul ul a:hover {
color: #FA1414;
}
.main-navigation a {
line-height: 38px;
color: #5d5d5d;
}
.main-navigation a:hover {
color: #333;
}
.main-navigation ul ul a {
line-height: 30px;
}
.woocommerce #wrapper button.button,
.main-navigation .btn, a.btn {
background-color: #f0f0f0;
color: #000;
border: 1px solid #000;	  
font-weight: normal;
}
.ubermenu .btn.sec a,
.ubermenu .btn.buy .ubermenu-target-text,
.ubermenu .btn.buy a, .main-navigation .btn a, a.btn {
color: #000;
text-shadow: none;
line-height: 20px;
}
.main-navigation .btn a {
color: #fff;
}
.ubermenu .btn.buy .ubermenu-target-text,
.ubermenu .btn.buy,
.main-navigation .btn.buy, a.btn.buy {
background-color: #ee2424;
border: 1px solid #ee2424;
} .woocommerce #wrapper button.button:hover,
.main-navigation .btn:hover, a.btn:hover {
background-color: #fff;
color: #000;
border: 1px solid #000;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;		
}
.ubermenu .btn.sec:hover .ubermenu-target-text,
.ubermenu .btn.buy:hover .ubermenu-target-text,
.main-navigation .btn.buy:hover, a.btn.buy:hover {
background-color: #fff;
color: #000;	
border: 1px solid #000;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;		
} .main-navigation .sub-menu a {
padding: 0 1em!important;
}
.main-navigation li.current_page_item.btn a, .main-navigation li.current-menu-item.btn a {
color: #fff;
}
.main-navigation li.btn:hover > a {
color: #000;
} #bannercontainer {
background-size: 100% 100% !important;
background: #999!important;
margin-top: 0;
}
#bannercontainer ul {
list-style-type: disc;
}
.banner {
padding: 0;
}
.home .banner .widget {
margin: 0;
}
.home-banner .col {
text-align:center;
height: 500px;
display: flex;
justify-content: flex-end;
align-items: flex-end;
background-repeat: no-repeat;
background-position: right top;
padding-bottom: 10px;
}
.home-banner .col a {
width: 100%;
text-transform:uppercase;
text-decoration:none;
font-size: 120%;
color: #000;
}
.home-banner .col:hover {
-webkit-transition: background-color 500ms ease;
-moz-transition: background-color 500ms ease;
-o-transition: background-color 500ms ease;
transition: background-color 500ms ease;
background-color: #FFFFFF;
} .home-sidebar {
background-color: #b1b2b8; width: 100%;
max-width: unset;
}
.home-sidebar .container {
width: 95%;
max-width: 1200px;
margin: 60px auto;
}
#primary {
margin: 60px auto;
}
.page #primary {
margin: 0 auto;
}
#maincontentcontainer .home-sidebar .widget {
border: none;
background-color: transparent;
}
#secondary h3 {
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
margin-bottom: 10px;
}
#secondary .btn {
margin-top: 8px;
}
#maincontentcontainer .home-sidebar .col:first-child .widget {
padding-left: 0;
}
#maincontentcontainer .home-sidebar .col:last-child .widget {
padding-right: 0;
}
.freedspace-banner {
text-align: center; 
clear: both;
padding-top: 25px;
}
.site-content {
width: 95%;
color: #333;
}
.contact-form-full-width textarea,
.contact-form-full-width input[type="email"],
.contact-form-full-width input[type="text"],
.contact-form-full-width .row.pad-bottom { 
width: 100%;
margin-bottom: 12px;
}
.google-map-container {
margin-left: 0;
}
.grid_3_of_12:nth-child(4n+5) {
margin-left: 0;
}
#wpgmza_map {
border-radius: 3px;
border: 1px solid #ccc;	
}
.home .row.border img {
border: 1px solid #ccc;
}
.home .row.border a:hover img {
opacity: 0.7;
-webkit-transition: opacity 500ms ease;
-moz-transition: opacity 500ms ease;
-o-transition: opacity 500ms ease;
transition: opacity 500ms ease;	
}
a { 
text-decoration: none;
}
footer h3 {
text-align: left;
}
.home .border p {
margin-bottom: 0; 
}
.site-title img {
margin-top: 15px;
}
.site-title a {
font-size: 1rem;
} body #footercontainer {
background-color: #e6e6e6;
}
.site-footer {
width: 95%;
color: #333; 
padding: 64px 0 32px 0;
padding: 4rem 0 2rem 0;
}
.site-footer h3 {
color: #5d5d5d;
font-weight: normal;
}
.smallprint p {
color: #333;
font-size: 100%;
line-height: 2em;
margin: 0 auto;	
}
.smallprint img { margin: 0;
}
.footer-contact .field {
margin-bottom: 0;
}
.footer-contact .field input[type="text"], .footer-contact .field input[type="email"], .footer-contact .field textarea {
width: 100%;
}
footer table th {
font-weight: bold;
padding-right: 5px;
}
footer input[type="submit"],
footer a.btn {
margin-top: 0;
background-color: #fff;
color: #333;
}
footer a.btn:visited {
color: #333;
}
footer a.footerbtn, #footercontainer footer input[type="submit"], input[type="submit"].wpcf7-submit {
margin-top: 0;
padding: .5rem .875rem;
background-color: #f0f0f0;
color: #000;
border: #000 1px solid;
border-radius: 4px;
}
footer a.btn.buy{
background-color: #ee2424!important;
color: #fff!important;
border: #ee2424 1px solid!important; 
}
#footercontainer footer a.footerbtn:hover, #footercontainer footer input[type="submit"]:hover, input[type="submit"].wpcf7-submit:hover {
color: #000 !important;
background-color: #fff!important;
border: #000 1px solid!important;
}
footer a.footerbtn:visited {
color: #fff;
} .home #secondary {
color: #fff;
}
.home #secondary h3 {
color: #fff;
border-bottom: 1px solid #fff;
font-size: 1.25rem;
}
.home #secondary .widget-area .widget,
.home #secondary .widget-area .widget p {
margin-bottom: 0;
}
#wprmenu_menu .btn {
background-color: #000;
}
.wc-shortcodes-accordion .wc-shortcodes-accordion-trigger {
background-color: #e6e6e6;
}
.copyright-container { padding: 1.5rem 0 0.5rem;	
} .single #bannercontainer .banner,
.page #bannercontainer .banner {
max-width: unset;
width: 100%;
}
.single #bannercontainer .banner img.size-full,
.page #bannercontainer .banner img.size-full {
max-width: unset;
width: 100%;
min-height: 80px;
}
.ft-column-first .ft-row-bottom, .ft-column-last .ft-row-bottom,
.ft-column-first .ft-row-top, .ft-column-last .ft-row-top {
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius: 0;
}
img {
vertical-align:middle;
}
.lab-links img.divider {
margin: 0 12px;
}
.not-home #secondary {
margin-top: 1.6em;
}
.archive-title {
font-size: 3rem;
margin-top: 0;
margin-bottom: 0;
}
.main-navigation li.menu-parent-item > a:after {
margin-left: 5px;
}
blockquote {
display: inline-block;
margin: 18px 0 18px 20px;
}
.brands .col {
border: 1px solid #e6e6e6;
background-color: #ffffff;
padding: 0 15px;
}
.brands .col:hover {
border: 1px solid #b1b2b8;
background-color: #f0f0f0;
-webkit-transition: all .25s ease;
-moz-transition: all .25s ease;
-ms-transition: all .25s ease;
-o-transition: all .25s ease;
transition: all .25s ease;		
}
.brands img.aligncenter {
margin-bottom: 0;
}
.applications .col {
border: 1px solid #e6e6e6; text-align: center;	
position: relative; 
} .applications .col .btn:hover {
background-color: #dad8da;
}
.applications .col img {
border-bottom: 1px solid #e6e6e6;
}
.applications .col h4 {
margin-top: 1rem;
text-align: center;	
width: 100%; 
text-transform: capitalize;
font-size: 1.25rem;
font-weight: normal;
color: #5d5d5d;
line-height: 150%; }
.applications .col p {
margin: 1rem;
}
ul.capabilities, ul.industries  {
padding-left: 15px;	
}
ul.capabilities li, ul.industries li {
border-bottom: 1px dotted #5d5d5d;
margin-bottom: 5px;
padding-bottom: 5px;
list-style-image: url(../../../themes/quark-child/images/capabilities-arrow.png);
} .wc-shortcodes-tabs {
padding-top: 20px;
clear: both;
}
.wc-shortcodes-tabs ul.wcs-tabs-nav > li {
background-color: #F0F0F0;
}
.wc-shortcodes-tabs ul.wcs-tabs-nav > li.wcs-state-active {
background-color: #FFFFFF;
}
.wc-shortcodes-tabs h3 {
margin-top: 0.75rem;
}
.wc-shortcodes-tabs hr {
margin: 20px 0;
}
.wc-shortcodes-tabs .tab-content .wpcf7 input {
margin-bottom: 12px;
}
h3.wc-shortcodes-entry-title {
font-size: 20px;
font-size: 1.0rem;
line-height:1.5;
}
.main-navigation ul ul { background-color: rgba(255,255,255,0.95);
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
.main-navigation ul ul a {
color: #5d5d5d;
}
footer .freedspace-logo {
margin-top: 15px;
}
footer .newsletter {
margin-top: 20px;
margin-bottom: 10px;
}
.quick-contacts .search-form { display: inline-block;
}
.quick-contacts .search-field {
background-color: transparent;
background-image: url(../../../themes/quark-child/images/search-icon.png);
background-position: 4px center;
background-repeat: no-repeat;
background-size: 16px 16px;
border: none;
cursor: pointer;
height: 24px;
margin: 0 0 0 5px;
padding: 0 0 0 24px;
position: relative;
-webkit-transition: width 400ms ease, background 400ms ease;
transition:         width 400ms ease, background 400ms ease;
width: 0;
}
.quick-contacts .search-container:hover .search-field,
.quick-contacts .search-field:focus {
background-color: #fff;
border: 1px solid #999;
cursor: text;
outline: 0;
width: 230px;
}
.quick-contacts .search-container > span:hover {
cursor: pointer;
}
.quick-contacts .textwidget {
display: inline-block;
}
#wrapper .quick-contacts {
text-align: right;
}
.search-form
.search-submit { 
display:none;
}
.fa {
margin-right: 5px;
}
body.search-results .page-header {
margin-bottom: unset;
border-bottom: unset;
}
body.search-results article {
background-color: #f0f0f0;
border: 1px solid #e6e6e6;
padding: 10px 25px;
}
body.search-results article h1.entry-title {
font-size: 1.5rem;
}
body.search-results #primary .btn {
background-color: #FFFFFF;
}
body.search-results #primary .btn:hover {
background-color: #dad8da;
}
body.search-results #primary .btn .meta-nav {
display: none;
}
.paging-navigation .nav-links .page-numbers {
border: 1px solid #e6e6e6;
background-color: #f0f0f0;
padding: 5px 10px;
}
.paging-navigation .nav-links .page-numbers.current {
background-color: #ffffff;
}
.entry-content table th, .entry-content table td {
border: 1px solid rgb(222,222,222);
border-width: 1px 0 0 1px;
padding: 9px 10px;
background: transparent;
line-height: 1;
text-transform: unset;
font-size: 0.75rem;
}
table, td, th {
vertical-align: middle;
}
table th + th, table td + td {
text-align: center;
}
#cameraComparison table th, #cameraComparison table td {
width: 8.8%;
}
#cameraComparison table th:first-child, #cameraComparison table td:first-child {
width: 12%;
}
.compare table th {
border-color: transparent;
font-weight: normal;
line-height: 1;
vertical-align: top;
}
table td:first-child {
border-width: 1px 0 0 0;
}
.compare tr.stripe td, .compare tr td.stripe {
background-color: rgba(0,0,0,0.05);
}
.compare table th:first-child, .compare table td:first-child {
color: rgb(66,66,66);
font-weight: bold;
}
.compare table th + th img {
max-width: 100%;
}
.compare th a img, .compare th a .price {
display: block;
margin: 0 auto;
}
.compare th a img {
margin-bottom: 9px;
}
.subtle {
display: table-cell;
margin-top: 3px;
}
.gallery {
display: inline-block;
}
#primary > .col.grid_9_of_12:first-child {
padding-right: 1.6%;
}
#secondary h3.widget-title {
border-bottom: none;
}
.wc-shortcodes-posts.wc-shortcodes-posts-layout-grid .wc-shortcodes-post-box {
margin-bottom: 20px;
background-color: unset;
}
.wc-shortcodes-filtering:before {
font-weight: bold;
content: "Filter by:  ";
}
.rfpw-show-post li, .rfpw-dropdown-post li {
display: inline-block;
}
table.table-striped th {
background-color: #ececec !important;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
background-color: #f9f9f9;	
}
.entry-content table.table-striped th,
.entry-content table.table-striped td {
font-size: 1rem;
}
.entry-content table.table-striped td ul li {
text-align: left;
}
table.table-striped th + th, table.table-striped td + td {
text-align: left;
}
.no-top-pad .site-content {
padding-top: 0;
}
.page-template-page-builderfullwidth .site-content.row {
padding-bottom: 0;
}
.page-template-page-builderfullwidth .row p:empty {
display: none;
} .container-outer {
background-repeat: no-repeat;
background-position: center center;
}
.container-outer.cover {
background-size: cover;
}
.container-outer.full-width {
background-size: 100%;
}
.black, .deep-black {
background-color: #000;
}
.grey, .space-grey {
background-color: #E6E6E6;	
}
.milkyway-grey { 
background-color: #f0f0f0;
}
.mothership-grey {
background-color: #B1B2B8;
}
.mothership-grey .site-content {
color: #5d5d5d;
}
.star-grey {
background-color: #999999;
}
.deep-space-grey, .white-on-black {
background-color: #5D5D5D;
}
.lab-red {
background-color: #FA1414;
}
.nopad .site-content,
.lab-red .site-content {
padding: 0;
}
.nopad .wc-shortcodes-row,
.lab-red .wc-shortcodes-row {
display: flex;
justify-content: center;	
}
.lab-red .wc-shortcodes-item {
margin-bottom: 0;
}
.nopad .wc-shortcodes-item {
margin-top: 0;
margin-bottom: 0;
}
.nopad .wc-shortcodes-one-half,
.lab-red .wc-shortcodes-one-half {
align-self: center;
}
.lab-red .site-content p {
color: #fff;
}
.black .site-content,
.deep-black .site-content,
.deep-space-grey, 
.white-on-black .site-content {
color: #ccc;
}
.lab-red .site-content h3, .lab-red .site-content h4,
.black .site-content h3, .black .site-content h4,
.deep-black .site-content h3, .deep-black .site-content h4,
.mothership-grey .site-content h3, .mothership-grey .site-content h4,
.deep-space-grey .site-content h3, .deep-space-grey .site-content h4,
.white-on-black .site-content h3, .white-on-black .site-content h4 {
color: #fff;
}
.mothership-grey .site-content .applications h4 {
color: #5d5d5d;
}
.mothership-grey .site-content .applications .col {
border: none;
}
.space-grey .site-content .wc-shortcodes-post-border,
.mothership-grey .site-content .wc-shortcodes-post-border {
background-color: #e6e6e6;
} .home #secondary,
.home #secondary a {
color: #333;
}
.home #secondary ul.capabilities li a:hover {
color: #000;
}
ul {
list-style: disc;
}
footer .footer-contact .field .wpcf7-recaptcha div {
width: 100% !important;
}
.wc-shortcodes-entry-thumbnail {
background-color: #fff;
}
.brand .wc-shortcodes-one-sixth {
background: #fff;
padding: 10px;
width: 15%;
margin-left: 2%;
}
.wc-shortcodes-post-box {
background-color: transparent;
}
.site-footer h3 {
font-family: ProximaNovaBold, Exo2, 'PT Sans', Helvetica, Arial, sans-serif;	
}
.block-format span.wpcf7-list-item {
display: block;
}
.flashing-button {
-webkit-animation: c 1s ease-in-out infinite;
-moz-animation: c 1s ease-in-out infinite;
-ms-animation: c 1s ease-in-out infinite;
-o-animation: c 1s ease-in-out infinite;
animation: c 1s ease-in-out infinite;
}
.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6 {
color: #5D5D5D;
}
.menu-toggle, .btn, input[type="submit"] {
background-color: #b1b2b8;
border: none;
text-transform: capitalize;
}
.home #primary {
margin-top: 0;
}
.home #primary .row h1 {
font-size: 1.5rem;
margin-bottom: 0.5rem;
}
.home #primary .row h2 {
font-size: 1.25rem;
margin-bottom: 0.25rem;
}
.clients-banner p {
margin-bottom: 0.75rem;	
}
.home.page .ads-banner .site-content,
.home.page .clients-banner .site-content {
padding-top: 1rem;
padding-bottom: 1rem;	
}
.home .ads-banner h1 {
margin-top: 2.5rem !important;
margin-bottom: 2.5rem !important;	
}
.home .ads-banner p {
font-size: 1.25rem;	
}
.entry-content fieldset table td {
vertical-align: top;
}
.entry-content fieldset table td:first-child {
text-align: right;
}
.entry-content fieldset table td:last-child {
text-align: left;
}
.entry-content fieldset table tr:first-child td {
border-top: none;
}
.entry-content fieldset table {
border-bottom: none;
}
table.p3d-stats, table.p3d-stats th, table.p3d-stats td {
border-left: none!important;
border-right: none!important;
}
table.p3d-stats td:first-child,
table.tg td:first-child {
padding-left: 5px;
}
table.specs td:last-child {
text-align: left;
}
table.specs td[colspan="4"]:last-child {
text-align: center;
}
table.p3d-stats td:last-child, table.tg td:last-child {
text-align: left;
}
table.p3d-stats td,
.entry-content table.tg td {
border-left: none;
}
table.p3d-stats th + th, table.p3d-stats td + td,
table.tg th + th, table.tg td + td {
text-align: left;
}
table.p3d-stats tr:nth-child(even),
table.tg tr:nth-child(even) {
background: #f8f8f8;
}
table.p3d-stats tr:nth-child(odd),
table.tg tr:nth-child(odd) {
background: #f0f0f0;
}
table.p3d-stats tr.empty,
table.tg tr.empty {
background: none;
}
.wc-shortcodes-footer-entry-meta {  
display: none;
}
#hmenu_load_1 .hmenu_navigation_holder>ul>li>a, #hmenu_load_1 .hmenu_social_holder>ul>li>a, #hmenu_load_1 .hmenu_product_holder>ul>li>a, #hmenu_load_1 .hmenu_toggle_holder>ul>li>a {
font-family: ProximaNova, Exo2, 'PT Sans', Helvetica, Arial, sans-serif!important;
text-transform: uppercase!important;
}
#hmenu_load_1 .hmenu_mega_sub h3 {
font-family: ProximaNova, Exo2, 'PT Sans', Helvetica, Arial, sans-serif!important;
}
#hmenu_load_1 .link-headings .hmenu_mega_sub .hmenu_inner_col a:first-child {
border-bottom: 1px solid rgba(136,136,136,.5);
}
#hmenu_load_1 .link-headings .hmenu_mega_sub .hmenu_inner_col a:first-child h3 {
font-size: 16px !important;
font-weight: bold !important;
}
#hmenu_load_1 .hmenu_navigation_holder>ul>li.btn>a {
color: #fff !important;
} #hmenu_load_1 .btn {
padding: 0 !important;
}
.home .wc-shortcodes-posts-template-borderless .wc-shortcodes-post-border {
border-bottom: none;
}	
ul.wp-cpl-widget {
line-height: 1.25;
} 
input.hideradio{ visibility: hidden; position: absolute; }
.imgradio label > input + img{ cursor:pointer;
border:2px solid transparent;
}
.imgradio label > input:checked + img{ border:2px solid #e6e6e6;
}
.sidebar .widget_collapscat ul.collapsing li.collapsing.categories.expandable {
margin-left: 0!important;
}
.arfaly-filedrag, div.arfaly-multi-images {
margin: 0;
}
p.arfaly-label {
text-align: left;
}
.lab-links {
text-transform: uppercase;
font-family: ProximaNovaBold, Arial, "sans-serif";
letter-spacing: .2em;
font-size: 0.75em;
}
.head-short-cuts .banners .lab-links a:hover {
color: #fa1414;
}
body.category .site-content #nav-below {
display: none;
}
.arfaly-multiple-upload .arfaly-filedrag {
background-color: #FFFFFF;
}
#maincontentcontainer #primary a {
color: #fa1414;
}
#maincontentcontainer #primary a.btn {
color: #000;
}
#maincontentcontainer #primary a.btn:hover {
color: #333;
text-decoration:  none;
background-color: #fff;	
}
body.search-results #primary .btn {
background-color: #fff;
}
#maincontentcontainer #primary .paging-navigation li a.page-numbers,
#maincontentcontainer #primary .paging-navigation li a:visited.page-numbers,
#maincontentcontainer #primary h1 a,
#maincontentcontainer #primary h2 a,
#maincontentcontainer #primary h3 a {
color: #333;
}
#maincontentcontainer #primary a:hover {
text-decoration: underline;
}
.ls-wp-fullwidth-container h4 {
font-weight: 400;
}
#nav-below .nav-previous, #nav-below .nav-next {
width: 272px;
}
#footernavcontainer ul {
font-size: 0.8rem;
}
#footernavcontainer footer h3 {
font-size: 1rem;
}
.home #primary .row .wc-shortcodes-filter-news h2 {
font-size: 1rem;
line-height: 1.5rem;
}
#footernavcontainer .copyright-container .smallprint .logo {
float: left;
}
#footernavcontainer .copyright-container .logo,
#footernavcontainer .copyright-container .copy {
display: inline-block;
margin-right: 20px;
}
#footernavcontainer .copyright-container .copy {
line-height: 40px;
}
#footernavcontainer .copyright-container .footer_social_media {
display: inline-block;	
float: right;
}
#footernavcontainer .copyright-container .footer_social_media h3.widget-title {
color: #999;
font-size: 16px;
font-style: normal;
font-weight: 400;	
}
#footernavcontainer .copyright-container .footer_social_media .sfsi_holders {
height: inherit!important;
}
#footernavcontainer .copyright-container .footer_social_media .norm_row {
position: static!important;
}
div.wpcf7-validation-errors {
border: 2px solid #fa1414;
margin: 0;
}
div.wpcf7-mail-sent-ok {
margin: 0;
}
.woocommerce.single-product #maincontentcontainer .grid_8_of_12 {
width: 100%;
}
.woocommerce.single-product #maincontentcontainer .grid_3_of_12 {
display: none;
}
.woocommerce.single-product #p3d-cv,
.woocommerce.single-product fieldset,
.woocommerce.single-product fieldset.p3d-fieldset legend {
border: 1px solid #c0c0c0!important;
border-radius: 3px;
}
.woocommerce.single-product fieldset.p3d-fieldset legend {
background: #b1b2b7;
color: white;
}
span.p3d-group-name {
width: 50%;
}
.p3d-group ul.p3d-colors {
width: 40%;
}
#p3d-slider-range-value,
#scale_x, #scale_y, #scale_z {
width: 5rem;
}
.home.page .site-content {
padding: 1rem 0;
}
#widget-collapscat-2-top li.collapsing.categories.item {
line-height: 1.15rem;
margin-bottom: .35rem;
}
body .cool-timeline.white-timeline .timeline-post .timeline-content .content-title {
background-image: none!important;
}
body .cool-timeline.white-timeline.compact  .timeline-post .timeline-content h2.content-title {
font-family: ProximaNova, 'PT Sans', Helvetica, Arial, sans-serif!important;
}
.cool_timeline h1.timeline-main-title {
display: none;
}
.woocommerce div.product p.price, .woocommerce-page div.product p.price {
color: #fa1414;
}
.mc4wp-checkbox input[type="checkbox"] {
height: 30px;
width: 38px;
}
.mc4wp-checkbox {
width: 100%;
background: #fff;
border: 1px solid #ccc;
padding: 0.31rem;
border-radius: 3px;
display: inline-block;
}
.head-short-cuts .banners .lab-links a.current-lab {
color: #b1b2b8;
}
.icon-center {
text-align:center;
}
.fa-circle {
background: #e6e6e6;
width: 100px;
height: 100px;
border-radius: 50%;
text-align: center;
line-height: 70px!important;
vertical-align: middle;
padding: 15px;
margin-bottom: 20px;
}
#primary h2.lcsp_logo_carousel_slider_title {
font-weight: bold;
} .header-message-bar .banners {
max-width: 95%;
width: 1200px;
}
.header-message-bar {
background-color: #d12229;
padding-top: 10px;
padding-bottom: 12px;
}
.header-message-bar .text-area {
display:inline-block;
vertical-align:middle;
text-align:left;
margin-left:5px
}
.header-message-bar h3 {
color:#FFFFFF;
font-size:16px;
margin:0;
line-height:1.5;
}
.header-message-bar p {
color:#FFFFFF;	
font-size:12px;
margin:0;
line-height:1;
}
.ls-container .ls-slide, .ls-container .ls-slide h2, .ls-container .ls-slide h3, .ls-container .ls-slide .btn { text-transform: capitalize;
font-weight: normal;	
}
.ls-container .ls-slide h2 {
font-size: 3rem;
letter-spacing: 2px;
text-shadow: 0 2px 2px rgba(0,0,0,0.3);		
font-weight: 800;		
}
.ls-container .ls-slide h2 span.branding {
font-family: 'ProximaNovaBold', Arial, sans-serif;
letter-spacing: 8px;
color: #fa1414;
font-weight: 900;
}
.ls-container .ls-slide h3 {
font-size: 2rem;
text-shadow: 0 2px 2px rgba(0,0,0,0.3);	
}
input[type="submit"] {
text-shadow: none;
}
@-moz-keyframes c{
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}
@-webkit-keyframes c{
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}
@-ms-keyframes c{
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}
@-o-keyframes c{
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}
@keyframes c{
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}
@media screen and (max-width: 1200px) {
.mast-container .grid_8_of_12 {
width: 100%;
margin: 0;
} 
body .main-navigation {
margin: 0 0 0.5rem;
} .site-title img {
max-width: unset;
min-width: 100%;
}
} @media screen and (min-width: 1100px) and (max-width: 1150px) {
.applications .col h4 {
top: 32%; 
}	
}
@media screen and (max-width: 1100px) {
footer .grid_3_of_12,
.applications .grid_3_of_12,
.brands .grid_3_of_12 {
width: 48.26%;
margin-left: 0;	
margin-right: 2%;
margin-bottom: 20px;
display: table;	
}
.applications .grid_3_of_12 img {
width: 100%;
}
footer .grid_3_of_12:nth-child(2n),
.applications .grid_3_of_12:nth-child(2n),
.brands .grid_3_of_12:nth-child(2n) {
margin-right: 0;
}
}
@media screen and (max-width: 1080px) {
.head-short-cuts .banners .grid_6_of_12 {
width: 100%;
float: none;
}
.head-short-cuts .banners .quick-contacts .widget_text .textwidget {
text-align: left;
}
.head-short-cuts .banners .quick-contacts {
margin: 0;
}
#wrapper .quick-contacts {
text-align: left;
}	
}
@media screen and (max-width: 1069px) {
.home-banner .grid_4_of_12 {
width:48.26%;
}
.home-banner .grid_4_of_12:nth-child(2n+3) {
margin-left: 0;
}	
}
@media screen and (max-width: 990px) {
body .wc-shortcodes-posts-layout-grid.wc-shortcodes-posts-col-4 .wc-shortcodes-post-box:nth-child(3n+4) {
clear: none;
}
.banner h1 {
font-size: 2rem;
margin: 0;
text-align: left;
}
.banner h2 {
font-size: 1.2rem;		
text-align: left;		
}	
.banner h3 {
font-size: 1rem;
}
.banner h4 {
font-size: 0.8rem;		
}
}
@media screen and (max-width: 939px) {
#secondary .grid_4_of_12,
.grid_6_of_12 {
width: 100%;
margin-left: 0;
}
#maincontentcontainer .home-sidebar .col .widget {
padding-left: 0;
padding-right: 0;
}	
} 
@media only screen and (max-width: 900px) {
.banner h1, .banner h2, .banner p {
text-align: left;
}
.single-post .wc-shortcodes-row .wc-shortcodes-one-third {
width: 100%;
margin-left: 0;
}
}
@media screen and (max-width: 850px) {
#responsive-menu-wrapper li.responsive-menu-item.btn {
width: unset;
margin-left: 5%;
}
#bannercontainer .banner.not-home .featured_caption h2 {
font-size: 2.5em;
}
#bannercontainer .banner.not-home .featured_caption h3 {
font-size: 1.5em;
}
}
@media screen and (min-width: 768px) and (max-width: 939px) {
.grid_2_of_12:nth-child(3n+4) {
margin-left: 0;
}
.grid_2_of_12 {
width: 32.26%;
}	
}
@media screen and (max-width: 767px) {
#maincontentcontainer .grid_4_of_12,
#maincontentcontainer .grid_8_of_12 {
width: 100%;
margin-left: 0;
}			
.grid_2_of_12 {
width: 48.26%;
}
.grid_2_of_12:nth-child(2n+3) {
margin-left: 0;
}
.grid_2_of_12:nth-child(2n+2) {
margin-right: 0;
margin-left: 0;
}
.home-banner .col {
height: unset;
}
.border .col {
text-align: center;
}
.border .col h1 {
text-align: left;
}
.border h3 {
font-size: 100%;
} #primary {
margin: 0 auto;
}
#primary .wc-shortcodes-one-fourth,
#primary .wc-shortcodes-one-half,
#primary .wc-shortcodes-two-third,
#primary .wc-shortcodes-one-third {
width: 100%;
margin-left: 0;
}
#primary .wc-shortcodes-one-fourth br {
display: none;
}
#primary .wc-shortcodes-one-third img {
margin-top: 20px;
margin-bottom: 20px;
}
.wc-shortcodes-entry-summary > *:last-child, .wc-shortcodes-content > *:last-child {
margin-bottom: 1.5rem !important; 
}
#primary > .grid_9_of_12, 
#primary > .grid_3_of_12 {
width: 100%;
margin-left: 0;
margin-right: 0;
}
.desktop-icon {
display: none;
}
#secondary .rfpw-show-post li {
width: 33%;
}
#secondary .rfpw-show-post li .rfpw-image-link,
#secondary .rfpw-show-post li .rfpw-show-text {
display: inline-block;
}
.container-outer {
background-image: none!important;
}
.lab-red .wc-shortcodes-row {
display: block;
justify-content: flex-start;
}
.copyright-container .grid_4_of_12 {
width: 100%;
}
#footernavcontainer .copyright-container .footer_social_media,
#footernavcontainer .copyright-container .smallprint .logo {
float: none;
}
#footernavcontainer .copyright-container .smallprint .col,
#footernavcontainer .copyright-container .smallprint .copy,
#footernavcontainer .copyright-container .smallprint .logo {
margin: 0;	
}
#footernavcontainer .copyright-container .footer_social_media .sfsi_widget .sfsi_wDiv {
text-align: center!important;
}
.banner h4 {
display: none;
}
}
@media screen and (max-width: 680px) { #bannercontainer .banner.not-home .featured_caption h2 {
font-size: 1.5em;
}	
#bannercontainer .banner.not-home .featured_caption h3 {
font-size: 1em;
}	
.wc-shortcodes-one-half {
width: 100%;
}
.wc-shortcodes-one-half {
margin-left: 0;	
}
}
@media screen and (max-width: 570px) {
.banners .col {
width: 100%;
margin-left: 0;
}
.head-short-cuts .banners .quick-contacts .widget_text .textwidget {
text-align: left;
}
.head-short-cuts .banners .quick-contacts a {
margin-left: 0;
margin-right: 10px;		
}
.brands .grid_3_of_12,
footer .grid_3_of_12,
.home .grid_3_of_12 {
width: 100%;
margin-left: 0;	
margin-right: 0;
}
.applications .col h4 {
position: relative;
}
#secondary .rfpw-show-post li {
width: 100%;
}
#bannercontainer .banner.not-home .featured_caption h3 {
display: none!important;
}		
}
@media screen and (min-width: 480px) and (max-width: 767px) {
#maincontentcontainer .col {
margin-right: 1.6%;
}
.brand .wc-shortcodes-one-sixth {
margin-bottom: 10px;
width: 32%;
}
.brand .wc-shortcodes-one-sixth:nth-child(3n+4) {
margin-left: 0;
}
.brand .wc-shortcodes-item {
margin-top: 0;
margin-bottom: 0;
}
}
@media screen and (max-width: 479px) {
.col {
margin-right: 1.6%;
} footer .grid_2_of_12,
.home-banner .grid_4_of_12 {
width:100%;
margin-left: 0;
margin-right: 0;
}	
.brand .wc-shortcodes-one-sixth {
margin-bottom: 10px;
width: 48%;
margin-left: 2%;
float: left;
}
.brand .wc-shortcodes-one-sixth:nth-child(2n+3) {
margin-left: 0;
}
.brand .wc-shortcodes-item {
margin-top: 0;
margin-bottom: 0;
} .container-outer.call-to-action h4 {
display: none;
}
.lab-links img.divider {
margin: 0 5px;
}	
}
@media screen and (max-width: 375px) {
.lab-links {
font-size: 0.6em;
}
.lab-links img.divider {
margin: 0;
}
}
#bannercontainer .banner.not-home { height: auto;
display: block;
position: relative;
font-family: ProximaNova, 'PT Sans', Helvetica, Arial, sans-serif;  
}
#bannercontainer .banner.not-home p {
text-align: center!important;
line-height: 1em!important;
color: #000!important;
}
#bannercontainer .banner.not-home h2 {
font-size: 3rem;
letter-spacing: 2px;
text-shadow: 0 2px 2px rgba(0,0,0,0.7);		
font-weight: 800;		
text-transform: uppercase;	
text-align: center!important;
color: #fff;	
margin-bottom: 0!important;
}
#bannercontainer .banner.not-home h3 {
font-size: 2rem;
text-shadow: 0 2px 2px rgba(0,0,0,0.7);	
text-transform: uppercase;
font-weight: normal;	
text-align: center!important;
color: #fff;	
}
#bannercontainer .banner.not-home h4 {
font-size: 1.5rem;
text-shadow: 0 2px 2px rgba(0,0,0,0.7);	
text-transform: uppercase;
font-weight: normal;	
text-align: center!important;
color: #fff;	
}
#bannercontainer .banner.not-home h4 a {
color: #fff;
}
#bannercontainer .banner.not-home h4 a:hover {
color: #ccc;
}
#bannercontainer .banner.not-home > img { height: auto;
}
#bannercontainer .banner.not-home .featured_caption {
height: auto;
width: 100%;
top: 30%;
left: 0;
position: absolute;
padding: 0;
}
#bannercontainer .banner.not-home .featured_caption p {
color: #fff;
line-height: 150px;
font-family: 'arial';
text-align: center;
}
.google-map {
border: 1px solid #ccc;
}
.ubermenu .btn.buy .ubermenu-target-text, .ubermenu .btn.buy, .main-navigation .btn.buy, a.btn.buy {
background-color: #ee2424;
border: 1px solid #ee2424;
}